# Deployment
.vercel

# Dependencies
node_modules/

# Build output
dist/
build/
.vite/

# Environment variables
.env
.env.*

# Keep example env files
!.env.example

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript
*.tsbuildinfo